* {
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("./home-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button:focus,
input:focus {
  outline: 0 !important;
}

button:active,
input:active {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.text-shadow {
  text-shadow: 0 3px 5px #000;
}

.container {
  margin: 0 auto;
  padding: 1rem 5%;
}

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 5%;
  background-color: rgba(228, 228, 228, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar__logo {
  color: #333;
  font-size: 2rem;
}

.navbar .navbar__button {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 24px;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar .navbar__button div {
  position: absolute;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
}

.navbar .navbar__button .top {
  top: 0;
  width: 34px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__button .middle {
  top: 10px;
  width: 26px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__button .bottom {
  top: 20px;
  width: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__button.toggled div {
  background-color: #1da0a0;
}

.navbar .navbar__button.toggled .top {
  width: 40px;
  top: 10px;
  -webkit-transform: rotateZ(-225deg);
          transform: rotateZ(-225deg);
  -webkit-transition: all 0.3s 0.06s;
  transition: all 0.3s 0.06s;
}

.navbar .navbar__button.toggled .middle {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar__button.toggled .bottom {
  width: 40px;
  top: 10px;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  -webkit-transition: all 0.3s 0.06s;
  transition: all 0.3s 0.06s;
}

.sidebar-left {
  width: 50%;
  height: calc(100vh - 70px);
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.9) 17px, rgba(51, 51, 51, 0.9) 20px);
  color: #e4e4e4;
  position: absolute;
  left: -50%;
  top: 70px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-left a {
  font-size: 2rem;
  color: #e4e4e4;
  margin-bottom: 1.2rem;
  position: relative;
}

.sidebar-left a:hover {
  color: #1da0a0;
}

.sidebar-left a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1da0a0;
}

.sidebar-left a:hover::after {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-left.toggled {
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .loading__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.loading .loading__wrapper div {
  width: 80px;
  height: 80px;
  border: 5px solid #114963;
  background-color: rgba(228, 228, 228, 0.5);
}

.loading .loading__wrapper div:first-child {
  border-top-right-radius: 50%;
  -webkit-animation: loading 0.6s ease-in-out infinite;
          animation: loading 0.6s ease-in-out infinite;
}

.loading .loading__wrapper div:nth-child(2) {
  border-top-left-radius: 50%;
  -webkit-animation: loading 0.6s ease-in-out 0.2s infinite;
          animation: loading 0.6s ease-in-out 0.2s infinite;
}

.loading .loading__wrapper div:nth-child(3) {
  border-bottom-right-radius: 50%;
  -webkit-animation: loading 0.6s ease-in-out 0.4s infinite;
          animation: loading 0.6s ease-in-out 0.4s infinite;
}

.loading .loading__wrapper div:last-child {
  border-bottom-left-radius: 50%;
  -webkit-animation: loading 0.6s ease-in-out 0.6s infinite;
          animation: loading 0.6s ease-in-out 0.6s infinite;
}

.home {
  height: calc(100vh - 120px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
}

.home div {
  text-align: center;
}

.home .home__quote {
  padding-top: 2rem;
}

.home .home__quote p:first-child {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.home .home__quote p:last-child {
  color: #333;
}

.home .home__contact a i {
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 0.7rem;
  font-size: 2rem;
  margin-right: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home .home__contact a i:hover {
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home .home__contact a:first-child:hover i {
  background-color: #4267b2;
}

.home .home__contact a:nth-child(2):hover i {
  background-color: #1da1f2;
}

.home .home__contact a:nth-child(3):hover i {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c92d8d), to(#f99a49));
  background-image: linear-gradient(#c92d8d, #f99a49);
}

.home .home__contact a:last-child:hover i {
  background-color: #ff0000;
}

.about h1 {
  margin-bottom: 2rem;
}

.about h1 span {
  color: #114963;
}

.about .about__wrapper {
  font-size: 1.2rem;
}

.about .about__wrapper .bio,
.about .about__wrapper .education,
.about .about__wrapper .interests,
.about .about__wrapper .hobbies,
.about .about__wrapper .links {
  width: 100%;
  background-color: rgba(228, 228, 228, 0.7);
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
}

.about .about__wrapper .bio h2,
.about .about__wrapper .education h2,
.about .about__wrapper .interests h2,
.about .about__wrapper .hobbies h2,
.about .about__wrapper .links h2 {
  color: #114963;
  margin-bottom: 1rem;
}

.about .about__wrapper .bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__wrapper .bio p {
  text-align: justify;
}

.about .about__wrapper .bio img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about .about__wrapper .links div a {
  margin-right: 2rem;
}

.about .about__wrapper .links div a i {
  color: #333;
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .about__wrapper .links div a i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .about__wrapper .links div a:first-child:hover i {
  color: #4267b2;
}

.about .about__wrapper .links div a:nth-child(2):hover i {
  color: #1da1f2;
}

.about .about__wrapper .links div a:nth-child(3):hover i {
  color: #c92d8d;
}

.about .about__wrapper .links div a:last-child:hover i {
  color: #ff0000;
}

.archive .arc__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.archive .arc__categories button {
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #333;
  background-color: rgba(228, 228, 228, 0.5);
  padding: 0.5rem 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.archive .arc__categories button:hover {
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.archive .arc__categories button:hover:first-child {
  background-color: #1da1f2;
}

.archive .arc__categories button:hover:nth-child(2) {
  background-color: #c22323;
}

.archive .arc__categories button:hover:nth-child(3) {
  background-color: #dab928;
}

.archive .arc__categories button:hover:nth-child(4) {
  background-color: #e4e4e4;
}

.archive .arc__categories button:hover:last-child {
  background-color: #3caf25;
}

.archive .arc__wrapper {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e4e4e4;
  border-radius: 6px;
}

.archive .arc__wrapper div {
  border: 1px dashed #333;
  padding: 1rem;
  margin-bottom: 1rem;
}

.archive .arc__wrapper div .post-title {
  color: #114963;
}

.archive .arc__wrapper div .post-date {
  color: #1da0a0;
}

.archive .arc__wrapper div .post-body {
  margin: 0.5rem 0;
}

@-webkit-keyframes quote-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes quote-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes quote-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes quote-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  from {
    background-color: rgba(228, 228, 228, 0.5);
  }
  to {
    background-color: rgba(51, 51, 51, 0.5);
  }
}

@keyframes loading {
  from {
    background-color: rgba(228, 228, 228, 0.5);
  }
  to {
    background-color: rgba(51, 51, 51, 0.5);
  }
}

@media (max-width: 768px) {
  .sidebar-left {
    width: 100%;
    left: -100%;
  }
  .about .about__wrapper .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .archive .arc__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
  }
  .archive .arc__categories button {
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #333;
    background-color: rgba(228, 228, 228, 0.5);
    padding: 0.3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
/*# sourceMappingURL=App.css.map */