// Variables
$primary-color: #1da0a0;
$secondary-color: #114963;
$dark-color: #333;
$light-color: #e4e4e4;
$info-color: #dab928;
$danger-color: #c22323;
$success-color: #3caf25;
$facebook-color: #4267b2;
$twitter-color: #1da1f2;
$instagram-color-1: #c92d8d;
$instagram-color-2: #f99a49;
$youtube-color: #ff0000;
$navbar-height: 70px;

// Global Settings
* {
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $primary-color;
  background: url("./home-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button:focus,
input:focus {
  outline: 0 !important;
}

button:active,
input:active {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Utility Classes
.box-shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.text-shadow {
  text-shadow: 0 3px 5px #000;
}

.container {
  margin: 0 auto;
  padding: 1rem 5%;
}

// Navbar
.navbar {
  width: 100%;
  height: $navbar-height;
  padding: 0 5%;
  background-color: rgba($light-color, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__logo {
    color: $dark-color;
    font-size: 2rem;
  }

  .navbar__button {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 24px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div {
      position: absolute;
      height: 3px;
      background-color: $dark-color;
      border-radius: 3px;
    }

    .top {
      top: 0;
      width: 34px;
      transition: all 0.3s;
    }

    .middle {
      top: 10px;
      width: 26px;
      transition: all 0.3s;
    }

    .bottom {
      top: 20px;
      width: 40px;
      transition: all 0.3s;
    }
  }

  .navbar__button.toggled {
    div {
      background-color: $primary-color;
    }

    .top {
      width: 40px;
      top: 10px;
      transform: rotateZ(-225deg);
      transition: all 0.3s 0.06s;
    }

    .middle {
      transform: translateX(-100px);
      opacity: 0;
      transition: all 0.3s;
    }

    .bottom {
      width: 40px;
      top: 10px;
      transform: rotateZ(225deg);
      transition: all 0.3s 0.06s;
    }
  }
}

// Sidebar
.sidebar-left {
  width: 50%;
  height: calc(100vh - 70px);
  // background-color: rgba(black, 0.9);
  background: repeating-linear-gradient(
    -45deg,
    rgba(black, 0.9) 17px,
    rgba($dark-color, 0.9) 20px
  );
  color: $light-color;
  position: absolute;
  left: -50%;
  top: $navbar-height;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-size: 2rem;
    color: $light-color;
    margin-bottom: 1.2rem;
    position: relative;
  }

  a:hover {
    color: $primary-color;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary-color;
  }

  a:hover::after {
    width: 100%;
    transition: 0.3s;
  }
}

.sidebar-left.toggled {
  left: 0;
  transition: 0.5s ease-in-out;
}

// Loading
.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  .loading__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;

    div {
      width: 80px;
      height: 80px;
      border: 5px solid $secondary-color;
      background-color: rgba($light-color, 0.5);

      &:first-child {
        border-top-right-radius: 50%;
        animation: loading 0.6s ease-in-out infinite;
      }
      &:nth-child(2) {
        border-top-left-radius: 50%;
        animation: loading 0.6s ease-in-out 0.2s infinite;
      }
      &:nth-child(3) {
        border-bottom-right-radius: 50%;
        animation: loading 0.6s ease-in-out 0.4s infinite;
      }
      &:last-child {
        border-bottom-left-radius: 50%;
        animation: loading 0.6s ease-in-out 0.6s infinite;
      }
    }
  }
}

// .sidebar-right {
//   width: 50%;
//   height: calc(100vh - 70px);
//   background-color: $secondary-color;
//   color: $light-color;
//   position: absolute;
//   top: -100%;
//   left: 50%;
//   z-index: -1;
// }

// .sidebar-right.toggled {
//   top: $navbar-height;
//   transition: 0.5s ease-in-out;
// }

// Home Page
.home {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-rows: 4fr 1fr;

  div {
    text-align: center;
  }

  .home__quote {
    padding-top: 2rem;

    p:first-child {
      font-size: 2rem;
      font-style: italic;
      margin-bottom: 1rem;
    }

    p:last-child {
      color: $dark-color;
    }
  }

  .home__contact {
    a {
      i {
        border: 2px solid $light-color;
        color: $light-color;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding-top: 0.7rem;
        font-size: 2rem;
        margin-right: 1rem;
        transition: 0.3s;
      }

      i:hover {
        border: 2px solid $light-color;
        color: $light-color;
        transition: 0.3s;
      }

      &:first-child:hover {
        i {
          background-color: $facebook-color;
        }
      }

      &:nth-child(2):hover {
        i {
          background-color: $twitter-color;
        }
      }

      &:nth-child(3):hover {
        i {
          background-image: linear-gradient(
            $instagram-color-1,
            $instagram-color-2
          );
        }
      }

      &:last-child:hover {
        i {
          background-color: $youtube-color;
        }
      }
    }
  }
}

// About Page
.about {
  h1 {
    margin-bottom: 2rem;

    span {
      color: $secondary-color;
    }
  }

  .about__wrapper {
    font-size: 1.2rem;

    .bio,
    .education,
    .interests,
    .hobbies,
    .links {
      width: 100%;
      background-color: rgba($light-color, 0.7);
      margin-bottom: 2rem;
      padding: 1rem;
      border-radius: 10px;

      h2 {
        color: $secondary-color;
        margin-bottom: 1rem;
      }
    }

    .bio {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      justify-items: center;
      align-items: center;

      p {
        text-align: justify;
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    .links {
      div {
        a {
          margin-right: 2rem;
          i {
            color: $dark-color;
            font-size: 3rem;
            transition: 0.3s;
          }

          i:hover {
            transition: 0.3s;
          }

          &:first-child:hover {
            i {
              color: $facebook-color;
            }
          }

          &:nth-child(2):hover {
            i {
              color: $twitter-color;
            }
          }

          &:nth-child(3):hover {
            i {
              color: $instagram-color-1;
            }
          }

          &:last-child:hover {
            i {
              color: $youtube-color;
            }
          }
        }
      }
    }
  }
}

// Archive
.archive {
  .arc__categories {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      cursor: pointer;
      width: 100%;
      font-size: 1.2rem;
      border: none;
      border-bottom: 2px solid $dark-color;
      background-color: rgba($light-color, 0.5);
      padding: 0.5rem 1rem;
      transition: 0.3s;
    }

    button:hover {
      box-shadow: 0 2px 5px #000;
      transition: 0.3s;

      &:first-child {
        background-color: $twitter-color;
      }
      &:nth-child(2) {
        background-color: $danger-color;
      }
      &:nth-child(3) {
        background-color: $info-color;
      }
      &:nth-child(4) {
        background-color: $light-color;
      }
      &:last-child {
        background-color: $success-color;
      }
    }
  }

  .arc__wrapper {
    margin-top: 1rem;
    padding: 1rem;
    background-color: $light-color;
    border-radius: 6px;

    div {
      border: 1px dashed $dark-color;
      padding: 1rem;
      margin-bottom: 1rem;

      .post-title {
        color: $secondary-color;
      }

      .post-date {
        color: $primary-color;
      }

      .post-body {
        margin: 0.5rem 0;
      }
    }
  }
}

// Animations
@keyframes quote-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes quote-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    background-color: rgba($light-color, 0.5);
  }
  to {
    background-color: rgba($dark-color, 0.5);
  }
}
